FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
GOOGLE_ID=SKIP
GOOGLE_SECRET=SKIP
GOOGLE_CALLBACK=http://localhost:3000/auth/facebook/callback
GITHUB_ID=SKIP
GITHUB_SECRET=SKIP
GITHUB_CALLBACK=http://localhost:3000/auth/github/callback
SESSION_SECRET=JustOneSecret
MONGODB_URI=mongodb://localhost/expense-tracker
PORT=3000