<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dad's Expense Tracker</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/images/bookkeeping.png">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
      <a class="navbar-brand" href="/">
        <strong style="font-size: 2vw;">
        {{#if isAuthenticated}}{{ user.name }}的{{/if}}家庭記帳本
        </strong>
      </a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-warning">Log Out</a>
      {{else}}
      <a href="/users/login" class="btn btn-outline-light">Log In</a>
      {{/if}}
    </nav>
  </header>

  {{{ body }}}

  <script src="/javascripts/frontend-script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/63c347561c.js" crossorigin="anonymous"></script>
</body>

</html>