<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="輸入 Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="輸入密碼">
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-2">Login</button>
        <a href="/auth/facebook" class="btn btn-light btn-block logo-button"  style="line-height: 100%;"><img src="/images/Facebook_logo_rect.svg" alt="Facebook logo" width="25" height="25">&nbsp;Login with Facebook</a>
        <a href="/auth/google" class="btn btn-light btn-block logo-button"><img src="/images/Google_logo.svg" alt="Google logo" width="20" height="20">&nbsp;Login with Google</a>
        <a href="/auth/github" class="btn btn-light btn-block logo-button"><img src="/images/GitHub_logo.png" alt="GitHub logo" width="20" height="20">&nbsp;Login with GitHub</a>
      </form>
      <p class="lead mt-4">
        No account ? <a href="/users/register">Click here to register</a>
      </p>
    </div>
  </div>
</div>