<div class="container new-container mt-3 px-5">
  <div class="row">
    <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">*必填欄位</div>
    <div class="col-12 col-sm-9 text-center">
      <h3 class="font-weight-bold m-0">請輸入你的支出</h3>
    </div>
  </div>
  {{#if validationError}}
  <div class="row">
    <div class="col-12 col-sm-9 ml-auto ">
      <div class="alert alert-danger mt-3 mb-0" role="alert">
        請確實填寫支出欄位！
      </div>
    </div>
  </div>
  {{/if}}
  <form action="/records" method="POST">
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="name" class="col-form-label font-weight-bold">名稱*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="text" name="name" id="name" class="form-control" value="{{ record.name }}" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="merchant" class="col-form-label font-weight-bold">商家*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="text" name="merchant" id="merchant" class="form-control" value="{{ record.merchant }}" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="date" class="col-form-label font-weight-bold">日期*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="date" name="date" id="date" value="{{ date }}" class="form-control" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="category" class="col-form-label font-weight-bold">類別*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <select name="category" id="category" class="form-control" required>
          <option value="non-select" selected hidden>Select</option>
          <option value="housewares" {{#if (eq record.category 'housewares' )}} selected {{/if}}>家居物業</option>
          <option value="transportation" {{#if (eq record.category 'transportation' )}} selected {{/if}}>交通出行</option>
          <option value="entertainment" {{#if (eq record.category 'entertainment' )}} selected {{/if}}>休閒娛樂</option>
          <option value="consumption" {{#if (eq record.category 'consumption' )}} selected {{/if}}>餐飲食品</option>
          <option value="others" {{#if (eq record.category 'others' )}} selected {{/if}}>其他</option>
        </select>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="amount" class="col-form-label font-weight-bold">金額*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="number" name="amount" id="amount" step="1" class="form-control" value="{{ record.amount }}"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 ml-auto text-center">
        <button type="submit" class="btn btn-primary w-50 mb-3">新增支出</button>
      </div>
    </div>
  </form>
</div>