<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">註冊</h1>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">名稱</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="輸入名稱">
        </div>
        <div class="form-group">
          <label for="email">電子郵件</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="輸入 Email">
        </div>
        <div class="form-group">
          <label for="password">密碼</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="輸入密碼">
        </div>
        <div class="form-group">
          <label for="confirmPassword">確認密碼</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="輸入與上方相同密碼">
        </div>
        <button type="submit" class="btn btn-primary btn-block">註冊</button>
      </form>
      <p class="lead mt-4">
        已經有帳號了？ <a href="/users/login">點此登入</a>
      </p>
    </div>
  </div>
</div>