body {
  background-color: #fff6f5;
}
.index-container, .new-container {
  font: 1em sans-serif;
  color: #666666;
}
.total-amount-text {
  font-size: 2vw;
}

.total-amount-number {
  font-size: 6vw;
  color: tomato;
}

.category-icon {
  font-size: 4vw;
  color: #85baff;
}
.record-name, .record-date {
  font-size: 1.5vw;
}

.place-icon, .record-place {
  font-size: 1.25vw;
}

.record-amount {
  font-size: 2vw;
}

.col-form-label {
  font-size: 20px;
}

.btn {
  font-size: 1vw;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
}

#expense-filter option {
  font-size: 15px;
}