<div class="container new-container mt-3 px-5">
  <div class="row">
    <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">* required</div>
    <div class="col-12 col-sm-9 text-center">
      <h3 class="font-weight-bold m-0">Enter your expense details</h3>
    </div>
  </div>
  {{#if validationError}}
  <div class="row">
    <div class="col-12 ml-auto">
      <div class="alert alert-danger mt-3 mb-0 text-center" role="alert">
        Please confirm your expense details again!
      </div>
    </div>
  </div>
  {{/if}}
  <form action="/expense/records" method="POST">
    <input type="text" name="type" class="form-control" value="expense" hidden required>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="name" class="col-form-label font-weight-bold">Name*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="text" name="name" id="name" class="form-control" value="{{ record.name }}" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="place" class="col-form-label font-weight-bold">Merchant*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="text" name="place" id="place" class="form-control" value="{{ record.place }}" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="date" class="col-form-label font-weight-bold">Date*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="date" name="date" id="date" value="{{ date }}" class="form-control" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="category" class="col-form-label font-weight-bold">Category*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <select name="category" id="category" class="form-control" required>
          <option value="non-select" selected hidden>Select</option>
          <option value="housewares" {{#if (eq record.category 'housewares' )}} selected {{/if}}>Housewares</option>
          <option value="transportation" {{#if (eq record.category 'transportation' )}} selected {{/if}}>Transportation</option>
          <option value="entertainment" {{#if (eq record.category 'entertainment' )}} selected {{/if}}>Entertainment</option>
          <option value="consumption" {{#if (eq record.category 'consumption' )}} selected {{/if}}>Consumption</option>
          <option value="others" {{#if (eq record.category 'others' )}} selected {{/if}}>Others</option>
        </select>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="amount" class="col-form-label font-weight-bold">Amount*：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="number" name="amount" id="amount" step="1" class="form-control" value="{{ record.amount }}"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 ml-auto text-center">
        <button type="submit" class="btn btn-primary w-50 mb-3">Create</button>
      </div>
    </div>
  </form>
</div>